{{>layouts/header}}
<form class="container" action="/articles" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">제목을 입력하세요.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">content</label>
        <input type="text" class="form-control" name="content" id="exampleInputPassword1">
        <div id="emailHelp" class="form-text">내용을 입력하세요.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{>layouts/footer}}